.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.select {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.options {
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.optionRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.input[type="text"] {
  margin: 4px;
  padding: 6px;
  font-size: 16px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 8px;
}
